
.one {
  list-style-image: url("https://mdn.mozillademos.org/files/11981/starsolid.gif");
}

 
 .irc_mi {
          width: 30px;
          height: 10;
          margin-top: 0px;
}

a:link, a:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}




